$primary:  #1A129F;
$secondary: #7E76F9;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$dark : #343a40;
$btn-border-radius: 10rem;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

